
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover,
a:active {
  color: #b6b6b6;
}

.navigation-itens {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

